html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600")
    meta(name='description', content='PapercutLabs Design Agency uses design, digital and social media for Branding. We are the top digital branding agency and design studio in Hyderabad. Search Engine Optimization, Branding, Graphic Design, Social Media Marketing, Website Design and Development, Digital Design Marketing, Product Design,Print Design and Logo Design are the various services that we offer.')
    meta(name='description', content='PapercutLabs design Agency helps Brands and Businesses Gain a Competitive Advantage in the Connected World using digital, social media marketing and Design for Branding. Web and Mobile Design, Android Apps and iOS Development, Logo Design, Brand Strategy and Online Business Marketing are solutions we offer. We are the Best Digital Media Branding and Design agency in Hyderabad')
    link(rel='canonical', href='http://papercutlabs.co/')
    meta(property='og:locale', content='en_US')
    meta(property='og:type', content='website')
    meta(property='og:title', content='PapercutLabs Design Agency | Design and Branding Agency in Hyderabad.')
    meta(property='og:description', content='PapercutLabs design Agency helps Brands and Businesses Gain a Competitive Advantage in the Connected World using affordable digital, social media marketing and Design for Branding. Web and Mobile Design, Android Apps and iOS Development, Logo Design, Brand Strategy and Online Business Marketing are solutions we offer. We are the Best Digital Media Branding and Design agency in Hyderabad.')
    meta(property='og:url', content='http://papercutlabs.co/')
    meta(property='og:site_name', content='PapercutLabs design Agency')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:description', content='PapercutLabs design Agency helps Brands and Businesses Gain a Competitive Advantage in the Connected World using affordable digital, social media marketing and Design for Branding. Web and Mobile Design, Android Apps and iOS Development, Logo Design, Brand Strategy and Online Business Marketing are solutions we offer. We are the Best Digital Media Branding and Design agency in Hyderabad.')
    meta(name='twitter:title', content='PapercutLabs Design Agency | Design and Branding Agency in Hyderabad.')
    link(rel="stylesheet", href="assets/css/main.css")
    title PapercutLabs Design Agency | Design and Branding Agency in Hyderabad.
  body
    .container
      
      section.how-it-works
        .section-title.text-center
          p How it works
        .row.text-block
          .col-md-5
            img(src="assets/img/rocket.png", alt="")
            .para-title
              h1.heading-green Send your Requirements to understand your business
            p Connect your support emails, social media and more in a single support app. You can connect as many Shopify stores as you want. 
          .col-md-5.offset-md-2
            .content-img
              img.img-fluid(src="assets/img/typing.png", alt="")
        .row.text-block
          .col-md-5
            .content-img
              img.img-fluid(src="assets/img/explaining.png", alt="")              
          .col-md-5.offset-md-2
            img(src="assets/img/settings.png", alt="")
            .para-title
              h1.heading-red Revise the Design until you are satisfied
            p Connect your support emails, social media and more in a single support app. You can connect as many Shopify stores as you want. 
        .row.text-block
          .col-md-5
            img(src="assets/img/delivery.png", alt="")
            .para-title
              h1.heading-orange Send your Requirements to understand your business
            p Connect your support emails, social media and more in a single support app. You can connect as many Shopify stores as you want. 
          .col-md-5.offset-md-2
            .content-img
              img.img-fluid(src="assets/img/handshake.png", alt="")
      section.why-choose-us
        .section-title.text-center
          p Why choose us
        .row.text-block
          .col-md-4.text-center
            img(src="assets/img/flash.png", alt="")
            p.head-title Fast turn around time
            p.content Come join us an experience the awesome features
          .col-md-4.text-center
            img(src="assets/img/communication.png", alt="")
            p.head-title Communication & Support
            p.content Come join us an experience the awesome features
          .col-md-4.text-center
            img(src="assets/img/badge.png", alt="")
            p.head-title Ownership
            p.content Come join us an experience the awesome features
      section.our-work.mb-80
        .section-title.text-center
          p Some of our works
        .row.img-grid
          .row.mb-20
            .col-md-4.col-sm-12
              img(src="assets/img/work1.png", alt="")
            .col-md-4.col-sm-12
              img(src="assets/img/work2.png", alt="")
            .col-md-4.col-sm-12
              img(src="assets/img/work3.png", alt="")
          .row
            .col-md-4.col-sm-12
              img(src="assets/img/work21.png", alt="")
            .col-md-4.col-sm-12
              img(src="assets/img/work22.png", alt="")
            .col-md-4.col-sm-12
              img(src="assets/img/work2.png", alt="")
    section.payments
      .container
        .section-title.text-center
          p.black-text Pay as you go
          p.normal-text Simple, transparent pricing
        
        .section-payments.row.justify-content-around
          .col-lg-3.col-sm-12.payment-card.text-center
            p.card-title Basic kit
            img.rounded(src="", alt="")
            p.pricing $29
            p.per-month per month
            ul.task-list
              li Only one task
              li Unlimited Revision
              li No Refunds
            
            .services
              p.head-title services
              p.content Social Media Graphics, Banner Ads, Quote Cards, Post Cards, Powerpoint Designs
            a.btn.btn-blue(href="#") purchase
          .col-lg-3.col-sm-12.payment-card.text-center
            p.card-title Startup kit
            img.rounded(src="", alt="")
            p.pricing $229
            p.per-month per month
            ul.task-list
              li Unlimited Task
              li Unlimited Revision
              li 1 Task at a time
            
            .services
              p.head-title services
              p.content Basic kit + Brochures,T-shirt, Newsletter, Book Covers,Blog Post, Billboard,Flyers, Posters, Restaurant Menu design
            a.btn.btn-blue(href="#") purchase
          .col-lg-3.col-sm-12.payment-card.text-center
            p.card-title Pro kit
            img.rounded(src="", alt="")
            p.pricing $329
            p.per-month per month
            ul.task-list
              li Unlimited Task
              li Unlimited Revision
              li 2 Task at a time
            
            .services
              p.head-title services
              p.content Startup kit + Logo & Branding, Stationery, Web UI, Mobile App UI, Illustrations, icons
            a.btn.btn-blue(href="#") purchase
        .note.text-center
          p We have a 7-days, 100% money back guarantee. Not happy with the result? We'll give you your money back. No questions asked.
        
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.min.js")
    script
      | var scroll = new SmoothScroll('a[href*="#"]');
      
          
        
        
          
      
  
  
